name: Build Bootloader

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Install NASM
      run: sudo apt-get update && sudo apt-get install -y nasm
    
    - name: Build with make
      run: make
    
    - name: Upload build artifacts
      uses: actions/upload-artifact@v4
      with:
        name: bootloader-image
        path: |
          build/main.bin
          build/main_floppy.img
